:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --titulo-color: #101828;
    --background-color: #C3191908;
    --background-form: #F9FAFB;

  }

  body {
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 8px;
    font-size: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.logo img {
    height: 27px;
    margin-right: 20px; /* espaçamento entre o logo e os links */
}

.navlinks {
    display: flex;
    gap: 20px; /* espaçamento entre os links */
    margin-left: 10px;
}

.navlinks a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
}

.navactions {
    display: flex;
    gap: 20px; /* espaçamento entre os links */
    margin-left: auto;
    padding-right: 60px;
}

.navactions a {
    color: #667085;
    text-decoration: none;
    padding: 10px 15px;
}

.button {
    background-color: var(--main-color);
    color: #FFFFFF !important;
    border: none;
    border-radius: 7px;
}

.cabecalho {
    padding-top: 96px; /* Reduz o espaçamento superior */
    padding-bottom: 96px; /* Reduz o espaçamento inferior */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
    gap: 24px;
}

.texto-destaque {
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 8px; /* Ajusta o espaçamento inferior */
}

.titulo-principal {
    font-size: 36px; /* Reduz o tamanho da fonte */
    font-weight: 600;
    color: var(--titulo-color);
    margin: 12px 0; /* Ajusta o espaçamento superior e inferior */
}

.paragrafo {
    font-weight: 400;
    color: var(--text-color);
    font-size: 18px; /* Reduz o tamanho da fonte */
    padding-top: 8px; /* Reduz o espaçamento superior */
    width: 792px;
    height: auto;
    text-align: center; /* Centraliza o texto dentro do parágrafo */
    margin: 8px 0; /* Ajusta o espaçamento superior e inferior */
}

.metricas-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 64px;
    padding: 32px;
    margin: 0 auto; /* Centraliza a seção na página */
    max-width: 1200px; /* Define uma largura máxima para a seção */
    width: calc(100% - 64px); /* Garante que a seção ocupe a largura total, menos o padding */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
    padding-bottom: 96px;
}

.texto-destaque-metricas {
    font-size: 60px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 8px; /* Ajusta o espaçamento inferior */
}

.texto-destaque2-metricas {
    font-size: 18px;
    color: var(--titulo-color);
    font-weight: 600;
    margin-bottom: 8px; /* Ajusta o espaçamento inferior */
}

.paragrafo-metricas {
    font-weight: 400;
    color: var(--text-color);
    font-size: 16px; /* Reduz o tamanho da fonte */
    width: 280px;
    height: auto;
    margin: 8px 0; /* Ajusta o espaçamento superior e inferior */
}

.talentos{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    padding-top: 8px;
}

.imagem-talentos {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 64px;
    padding: 32px;
    margin: 0 auto; /* Centraliza a seção na página */
    max-width: 1200px; /* Define uma largura máxima para a seção */
    width: calc(100% - 64px); /* Garante que a seção ocupe a largura total, menos o padding */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */    
}

.vagas-abertas {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(142, 36, 36, 0.05);
    padding: 10px 20px;
    border-radius: 12px;
}

.paragrafo-talentos {
    font-weight: 400;
    color: var(--text-color);
    font-size: 20px;
}

.vagas-divulgadas {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.categoria-vaga {
    font-weight: 600;
}

.vaga {
    margin: 20px 0;
    background-color: #FFFFFF;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 28px;
    padding-left: 24px;
    gap: 24px;
}

.vaga .titulo-vaga {
    font-weight: 500;
    color: var(--titulo-color);
}

.informacoes {
    color: var(--text-color);
    margin-top: 64px;
}

.depoimentos {
    background-color: var(--background-color);
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-depoimentos {
    font-size: 14px;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 8px;
}

.paragrafo-depoimentos {
    font-size: 36px;
    color: var(--titulo-color);
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.imagem-depoimentos {
    margin-top: 16px;
}

.cargo-depoimentos {
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
    margin-top: 0;
}

.depoimentos h4 {
    margin-bottom: 6px; /* ajusta o espaçamento inferior do h4 */
  }

.rodape {
    background-color: var(--background-form);
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.titulo-rodape {
    font-size: 36px;
    color: var(--titulo-color);
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}

.paragrafo-rodape {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
}

.formulario {
    margin-top: 16px;
}

.texto-formulario {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 12px;
}

.botao-formulario {
    background-color: var(--main-color);
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.copyright {
    margin-top: 8px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}
