body {
    font-family: 'Inter', sans-serif;
    display: block;
    margin: 8px;
}

.navbar {
    display: flex; 
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.logo img {
    height: 27px;
    margin-right: 20px; /* espaçamento entre o logo e os links */
}

.navlinks {
    display: flex;
    gap: 20px; /* espaçamento entre os links */
    margin-left: 10px;
}

.navlinks a {
    color: #667085;
    text-decoration: none;
    padding: 10px 15px;
}

.navactions {
    display: flex;
    gap: 20px; /* espaçamento entre os links */
    margin-left: auto;
    padding-right: 60px;
}

.navactions a {
    color: #667085;
    text-decoration: none;
    padding: 10px 15px;
}

.button {
    background-color: #8E2424;
    color: #FFFFFF !important;
    border: none;
    border-radius: 7px;
}